

<!DOCTYPE html>
<html>
<head>
    <title>异常提示</title>
</head>
<body>
    <h4>异常信息： @ViewData["Exception"]</h4>
    <h5>发生的控制器 @ViewData["ControllerName"]</h5>
    <h6>动作名称：@ViewData["ActionName"]</h6>
</body>
</html>